#romb1 {
    left: -2px;
}

#romb2 {
    left: -2px;
}

#wrapper {
    font-family: Arial, sans-serif !important;
}

#slogan h1, #bContent p.strong, #blog h4 {
    font-weight: bold;
}

#bBottom {
    bottom: -26px !important;
}