body {
    background-color:#D1D1D1; 
    font:11px Verdana;
    color:#696969;  
}

#wrapper {
    width:650px;
    margin:30px auto;
    background-color:#F4F4F4;
}

#header {
    height:75px;
    background-image:url(../images/redHeader.png); 
    background-repeat:no-repeat;
    position:relative;  
}

#content {
    padding:20px 30px;
}

#new {
    position:absolute;
    left:0;
    top:0;
} 

#button {
    position:absolute;
    top:-14px;
    left:290px;
    z-index:1;
}

#bird {
    position:absolute;
    top:-4px;
    left:272px;
    z-index:2;
}

#operator {
    position:fixed;
    top:250px;
    left:0;
    width:22px;
    height:180px;
}

#operator img {
    border:none;
}

#test {
    padding:inherit;
}









