body {
    background-color:#c3c3c3;
    background-image:url(../images/pattern.png);
    background-repeat:repeat;
    margin:0;
    padding:0;
}


#main {
    width:800px;
    height:991px;
    margin:29px auto;
    outline: 0px solid #faa21a;
    background-image:url(../images/bg_s.jpg);
    background-color:#fefecc;
    background-repeat:repeat-x;
}

#main h1 {
    text-align:center;
    outline:0px solid #cc0000;
    padding-top:182px;
    font:36px Verdana;
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-position:130px 190px;
}

#wrapper {
    outline: 0px solid #faa21a;
    background-image:url(../images/tel.jpg);
    background-repeat:no-repeat;
    background-position:0 149px;
    background-attachment:fixed;     
}







