body {
    font:11px Verdana, sans-serif;
    color:#333333;
}

#wrapper {
    width:500px;
}

.question {
    font-weight:bold;
}

fieldset {
    padding:10px;
    margin:10px;
    border:1px solid #cccccc;
    background-color:#fcfcfc;
}

textarea {
    border:1px solid #333333;
    background-color:#f4f9ff;
    width:480px;
    margin:2px 10px;
    font:12px Verdana;
}

textarea:focus {
    border:2px solid #1351b4;
    background-color:#ffffff;
}

.tp {
    margin-left:10px;
}

.input {
    border:1px solid #333333;
    width:300px;
    height:27px;
    background-image:url(../images/inputbg.jpg);
    background-repeat:repeat-x;
    font:12px Verdana;
    line-height:27px;
    padding:0 7px;
}

.input:focus {
    border:2px solid #1351b4;
    background:none;
    background-color:#ffffff;
}

label {
    cursor:pointer;
}



